/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
/* table {
	border-collapse: collapse;
	border-spacing: 0;
} */

/* Other Styling */

body {
	font: 16px/20px arial sans-serif;
	background-color: #eaeaea;
    background-image: url(/asset/wp.png);
    background-size: cover;
}

.container {
    width: 570px;
    height: 725px;
    margin: 10px auto;
	padding-bottom: 0px;
	background-color: white;
    position: relative;
    box-sizing: border-box;
    border: 3px solid #2a62ad;
    box-shadow: -13px 15px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -13px 15px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -13px 15px 5px 0px rgba(0,0,0,0.75);
}

.header {
    padding: 8px;
    background-color: white;
    border-bottom: 2px solid #2a62ad;
}

.resume {
    position: absolute;
    top: 10px;
    width: 50px;
}

.header .judul {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.sosmed {
    padding: 15px 0 0 15px;
}

.sosmed div {
    margin: 0;
    display: flex;
}

.sosmed i {
    font-size: 30px;
  }

.fa-square-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-square-github {
    color: black;
}

.fa-linkedin {
    color:#0a66c2;
}

.sosmed p {
    font-size: 10px;
    margin-top: 5px;
    margin-left: 10px

}

.languages {
    margin: 15px 0 0 15px;
    color: #2a62ad;
}


.languages h1 {
    font-size: 25px;
    text-decoration: underline 2px;
}

.languages .bahasa {
    padding: 5px 0 0 0;
}

.languages .bahasa .english {
    display: flex;
    flex-direction: row;
}

.languages .bahasa .japanese {
    display: flex;
    flex-direction: row;
}

.languages .bahasa .arabic {
    display: flex;
    flex-direction: row;
}

.languages .bahasa .english .bar {
    margin-left: 23px;
}

.languages .bahasa .japanese .bar-2 {
    margin-left: 15px;
}

.languages .bahasa .arabic .bar-3 {
    margin-left: 28px;
}
.languages .bahasa .square {
    height: 8px;
    width: 8px;
    background-color: #2a62ad;
    display: inline-block;

}

.likings {
    margin: 15px 0 0 15px;
    color: #2a62ad;
}

.likings h1 {
    font-size: 30px;
    text-decoration: underline 2px;
    font-weight: bold;

}

.likings ul {
    margin-top: 10px;
    list-style-type: "-";
    margin-left: 10px;
}

.likings li {
    font-size: 20px;
    padding-left: 15px;
}

/* card */

.content {
    position: relative;
    border-top: 2px solid #2a62ad;
}
.container-card {
    width: 400px;
    height:100px;
    color: white;
    position: absolute;
    top: 15px;
    left: 200px;
    box-sizing: border-box;
}
.card {
    background-color: #2a62ad;
    border-radius: 17px 17px 20px 20px;
    border: 2px solid #2a62ad;
    box-shadow: -9px 9px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: -9px 9px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -9px 9px 5px 0px rgba(0,0,0,0.75);
}
.header-card {
    padding: 6px;
    background-color: white;
    color: black;
    border-radius: 15px 15px 0 0;
    border-bottom: 2px solid #2a62ad;
}
.header-card .card-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.header-card .card-name {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.name-photo {
    display:flex ;
    justify-content: space-between;
    margin-left: 10px;

}

.name {
    color: white;
    margin-top: 15px;
    font-size: 30px;
}
.name h1 {
    margin-top: 8px;
}

.name p {
    margin-top: 8px;
    font-size: medium;
}

.cover-photo {
    margin-top: -30px;
    position: absolute;
  }
  
.photo-profile{
      height: 120px;
      width: 120px;
      padding: 0;
      margin-left:260px;
      margin-top: 45px;
}

.informasi {
    margin:0 0 0 12px;
}

.informasi p {
    display: inline-block;
    font-size: 10px;
    margin-left: 5px;
}

.informasi i {
    font-size: 10px;
}

.informasi .telephone {
    margin-top: 0px;
}

.informasi .mail {
    margin-top: -9px;
}

.informasi .address {
    margin-top: -9px;
}

.ket {
margin-left: -5px;
margin-right: 5px ;
padding-bottom: 12px;
}

.ket p {
    font-size: 12px;
    line-height: 1;
}

/* page 2 */
.education {
    margin-top: 15px;
    margin-left: 15px;
    color: #2a62ad;
}

.education h1 {
    font-size: 25px;
    text-decoration: underline;
}

.education-part {
    margin-top: 15px;
    margin-left: 5px;
}

.history {
    margin-left: 15px;
    display: flex;

}

.history .lingkaran {
    border: #2a62ad solid 2px;
    width:10px;
    height:10px;
    border-radius:400px;
    background-color:transparent;
}

.history .line {
    background-color: #2a62ad;
    margin-top:6px;
    width:60px;
    height:2px;

}

.history .line-pts {
    border: none;
    border-top: 2px dashed #2a62ad;
    margin-top:6px;
    height: 2px;
    width:60px;

}

.name-hist-1 {
    font-size: 10px;
}

.name-hist-1 li {
    display: inline-block;

}

.name-hist-1 p {
    text-align: center;
    line-height: 1;
}

.name-hist-1 .name-dua {
    margin-left: 103px;
}

.name-hist-1 .name-tiga {
    margin-left: 100px;
}

.name-hist-2 {
    font-size: 10px;
}

.name-hist-2 li {
    display: inline-block;
}

.name-hist-2 p {
    text-align: center;
    line-height: 1;
}

.name-hist-2 .name-empat {
    margin-left: 60px;
}

.name-hist-2 .name-lima {
    margin-left: 83px;
}

.name-hist-1 .name-satu .tahun-1 {
    line-height: 2;
}

.name-hist-1 .name-dua .tahun-2 {
    line-height: 2;
}

.name-hist-1 .name-tiga .tahun-3 {
    line-height: 2;
}

.name-hist-2 .name-empat .tahun-4 {
    line-height: 2;
}
.name-hist-2 .name-lima .tahun-5 {
    line-height: 2;
}

/* flow-skill */

.flow-skill {
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    left: 365px;
    bottom: 95px;
}

.web-dev {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    width: 130px;
    padding: 2px;
    color: black;
    text-align: center;
    font-size: 12px;
}

.flow-skill .garis-1 {
    border-left: 1px solid black;
    height:20px;
    margin-left: 115px;

}

.full-stack {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    width: 80px;
    padding: 2px;
    color: black;
    text-align: center;
    font-size: 12px;
    margin-left: 50px;
}

.flow-skill .garis-2 {
    border-left: 1px solid black;
    height:20px;
    margin-left: 65px;

}

.front-end {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    width: 80px;
    padding: 2px;
    color: black;
    text-align: center;
    font-size: 12px;
    margin-left: 10px;
}

.flow-skill .garis-3 {
    border-left: 1px solid black;
    height:20px;
    margin-left: 65px;
}

.back-end {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    width: 80px;
    padding: 2px;
    color: black;
    text-align: center;
    font-size: 12px;
    margin-left: 50px;
}

.flow-skill .garis-4 {
    border-left: 1px solid black;
    height:20px;
    margin-left: 115px;
}

.gcp {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    width: 170px;
    padding: 2px;
    color: black;
    text-align: center;
    font-size: 12px;
}

.flow-skill .garis-5 {
    border-left: 1px solid black;
    height:20px;
    margin-left: 30px;
}

.de {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    width: 100px;
    padding: 2px;
    color: black;
    text-align: center;
    font-size: 12px;
    margin-left: 5px;
}

.flow-skill .garis-6 {
    border-left: 1px solid black;
    height:20px;
    margin-left: 90px;
}

.da {
    border: 1px solid black;
    background-color: transparent;
    border-radius: 20px;
    width: 100px;
    padding: 2px;
    color: black;
    text-align: center;
    font-size: 12px;
    margin-left: 70px;
}

.skills {
    margin: 15px 0 0 15px;
    color: #2a62ad;
}

.skills h1 {
    font-size: 30px;
    text-decoration: underline 2px;
    font-weight: bold;
}

.skills .icon-skill {
    margin: 15px 0 0 0;
    font-size: 40px;
}

.fa-html5 {
    color: #F06529;
}

.fa-css3-alt {
    color: #2965f1;
}

.fa-js{
    color: #f0db4f;
}

.fa-php {
    color: #484C89;
}

.fa-golang {
    color: #29beb0;
}

.work {
    margin: 15px 0 0 15px;
    color: #2a62ad;
}

.work h1 {
    font-size: 30px;
    text-decoration: underline 2px;
}

.ket-work {
    margin: 15px 0 0 0;
    font-size: 12px;
    line-height: 1.5;
}